[submodule "lib/forge-std"]
	path = packages/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/v4-core"]
	path = packages/contracts/lib/v4-core
	url = https://github.com/Uniswap/v4-core
[submodule "lib/v4-periphery"]
	path = packages/contracts/lib/v4-periphery
	url = https://github.com/Uniswap/v4-periphery
